<mat-drawer-container class="example-container">
    <mat-drawer #drawer mode="over">
        <div fxLayout="column" fxLayoutAlign=" none">
            <button mat-button (click)="onRecipeRoute()">Recipe</button>
            <button mat-button (click)="onShoppingListRoute()">Shopping List</button>
            <button mat-button (click)="onAuthRoute()">Authenticate</button>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <button mat-icon-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
    </mat-drawer-content>
</mat-drawer-container>