<form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div fxLayout="row" fxLayoutAlign.lt-md="center center" fxLayout.lt-sm="column" fxLayoutGap.sm="5%">
        <!-- <p fxFlex.gt-sm="30" fxFlex.lt-sm="100">
    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name...">
    </mat-form-field>
</p>

<p fxFlex.gt-sm="30" fxFlex.lt-sm="100">
    <mat-form-field appearance="fill">
        <mat-label>Amount</mat-label>
        <input matInput placeholder="Amount...">
    </mat-form-field>
</p> -->
        <p fxFlex.gt-sm="30" fxFlex.gt-md="25" fxFlex.lt-sm="100">
            <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput placeholder="Name..." name="name" ngModel required>
            </mat-form-field>
        </p>
        <p fxFlex.gt-sm="30" fxFlex.gt-md="25" fxFlex.lt-sm="100">
            <mat-form-field appearance="outline">
                <mat-label>Amount</mat-label>
                <input matInput placeholder="Amount..." name="amount" ngModel required pattern="^[1-9]+[0-9]*$">
            </mat-form-field>
        </p>
    </div>
    <div fxLayout="row">
        <p fxLayout.lt-sm="column" fxLayoutGap.lt-sm="2%" fxFlex.gt-sm="50" fxFlex.gt-md="40" fxFlex.lt-md="60" fxFlexOffset.lt-md="20" fxLayoutAlign.gt-xs="space-evenly center">
            <button mat-stroked-button type="submit" color="primary" [disabled]="!f.valid">{{editMode ? 'Update' : 'Add'}}</button>
            <button mat-stroked-button color="warn" type="button" (click)="onDelete()" *ngIf="editMode">Delete</button>
            <button mat-stroked-button color="accent" type="button" (click)="onClear()">Clear</button>
        </p>
    </div>
</form>