<form fxLayout="row" fxLayoutAlign.lt-md="center center" #f="ngForm" fxLayout.lt-sm="column" fxLayoutGap.sm="5%">
    <!-- <p fxFlex.gt-sm="30" fxFlex.lt-sm="100">
    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name...">
    </mat-form-field>
</p>

<p fxFlex.gt-sm="30" fxFlex.lt-sm="100">
    <mat-form-field appearance="fill">
        <mat-label>Amount</mat-label>
        <input matInput placeholder="Amount...">
    </mat-form-field>
</p> -->
    <p fxFlex.gt-sm="30" fxFlex.gt-md="25" fxFlex.lt-sm="100">
        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Name..." #name>
        </mat-form-field>
    </p>
    <p fxFlex.gt-sm="30" fxFlex.gt-md="25" fxFlex.lt-sm="100">
        <mat-form-field appearance="outline">
            <mat-label>Amount</mat-label>
            <input matInput placeholder="Amount..." #amount>
        </mat-form-field>
    </p>
</form>

<div fxLayout="row">
    <p fxLayout.lt-sm="column" fxLayoutGap.lt-sm="2%" fxFlex.gt-sm="50" fxFlex.gt-md="40" fxFlex.lt-md="60" fxFlexOffset.lt-md="20" fxLayoutAlign.gt-xs="space-evenly center">
        <button mat-stroked-button type="submit" color="primary" (click)="onAddItem()">Add</button>
        <button mat-stroked-button color="warn">Delete</button>
        <button mat-stroked-button color="accent">Clear</button>
    </p>
</div>